/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.rar
*.env.txt
/show_mun.blade.php
/index.blade.php
/database
/simop
/tests
simop.sql